{% extends "base.html" %}
{% block content %}

<main>
    
    <div class="block1">

        <div class="greeting">
            <img class="img-fluid" 
                src="{{ url_for('static',filename ='img/introSlider/building.jpg') }}"
                alt="building">
            <div class="text">    
                <h1>{{data.carousel.title}}</h1>
                <h2>{{data.carousel.slogan}}</h2>
            </div>
        </div>

    </div>
    <div class="block2">

        <button id="aboutButton">{{data.about.title}}</button>
        <button id="projectsButton">{{data.projects.title}}</button>
        <button id="servicesButton">{{data.services.title}}</button>
        <button id="contactButton">{{data.contact.title}}</button>

    </div>

    <div class="stick"></div>
    
    <modal>
        <button id="closeModal">Close</button>
        <div id ="about">About Section</div>
        <div id ="projects">Projects Section</div>
        <div id ="services">Services Section</div>
        <div id ="contact">Contact Section</div>
    </modal>
</main>


{% endblock %}