{% extends "base.html" %}
{% block content %}

<main>

    <!--****************************
        HOME
    ********************************-->
    
    <div id="home">
    
        <div class="block1">
            <div id="greeting">
                <div id="greetingCarousel" class="carousel slide">
                    <div class="carousel-inner">

                        <!-- Object to activate carousel -->
                        {% set carousel = { 'active':True } %}

                        {% for image in images.greeting %}
                        
                            <div class="carousel-item {{ 'active' if carousel.active else '' }}">
                                <img src="{{images.greeting[image]}}" class="d-block w-100 img-fluid" alt="...">
                            </div>

                            <!-- Update caraousel object -->
                        {% if carousel.update({'active': False}) %} {% endif %}

                        {% endfor %}

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#greetingCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#greetingCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="text">    
                    <h1>{{data.carousel.title}}</h1>
                    <h2>{{data.carousel.slogan}}</h2>
                </div>
            </div>
        </div>

        <div class="block2">
            <div class="mainButtons">

                <button id="aboutButton" 
                        class="glow-on-hover">
                        {{data.about.title}}
                </button>
                <button id="projectsButton" 
                        class="glow-on-hover">
                        {{data.projects.title}}
                </button>
                <button id="servicesButton" 
                        class="glow-on-hover">
                        {{data.services.title}}
                </button>
                <button id="contactButton" 
                        class="glow-on-hover">
                        {{data.contact.title}}
                </button>
        
            </div>
        </div>
    </div>

    <!--****************************
        ABOUT
    ********************************-->
    <div id="about">

        <div class="box">

            <div class="title"><h2>{{data.about.title}}</h2></div>

            <div class="content">
        
                <div class="block1">
                    
                    <!-- About - Carousel -->

                    <div id="aboutCarousel" class="carousel slide">
                        <div class="carousel-inner">

                            <!-- Object to activate carousel -->
                            {% set carousel = { 'active':True } %}

                            {% for image in images.about %}
                        
                                <div class="carousel-item {{ 'active' if carousel.active else '' }}">
                                    <img src="{{images.about[image]}}" class="d-block w-100 img-fluid" alt="...">
                                </div>

                            <!-- Update caraousel object -->
                            {% if carousel.update({'active': False}) %} {% endif %}
            
                            {% endfor %}

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev">
                            <span aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next">
                            <span aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>
                </div>

                <div class="block2">
                <!-- About - Text -->
                    {# <div class="text col-sm">
            
                        <h2><strong>{{data.about.title}}</strong></h2>
                        <p>{{data.about.description}} </p>
            
                        <h2><strong>{{data.objective.title}}</strong></h2>
                        <p>{{data.objective.description}}</p>
            
                    </div> #}
                </div>

            </div>
        </div>
         <button id="closeAbout" class="btn-close close-modal"></button>
    </div>

</main>

<script src="{{ url_for('static', filename='js/Libraries/jQuery.js') }}"></script>
<script src="{{ url_for('static', filename='js//Events.js')}}"></script>
<script> const projectImages = {{ images.projects|tojson }} </script>
<script> const servicesImages = {{ images.services|tojson }} </script>

{% endblock %}