{% extends "base.html" %}
{% block content %}

<main>
    
    <!--****************************
    GREETING
    ********************************-->
    
    <div class="block1">
        <div class="greeting">
            <div id="greetingCarousel" class="carousel slide">
                <div class="carousel-inner">

                    <!-- Object to activate carousel -->
                    {% set carousel = { 'active':True } %}

                    {% for image in images.greeting %}
                    
                        <div class="carousel-item {{ 'active' if carousel.active else '' }}">
                            <img src="{{images.greeting[image]}}" class="d-block w-100 img-fluid" alt="...">
                        </div>

                        <!-- Update caraousel object -->
                    {% if carousel.update({'active': False}) %} {% endif %}

                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#greetingCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#greetingCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="text">    
                <h1>{{data.carousel.title}}</h1>
                <h2>{{data.carousel.slogan}}</h2>
            </div>
        </div>
    </div>

    <!--****************************
    MAIN BUTTONS
    ********************************-->

    <div class="block2">
        <div class="mainButtons">

            <button id="aboutButton" 
                    class="glow-on-hover">
                    {{data.about.title}}
            </button>
            <button id="projectsButton" 
                    class="glow-on-hover">
                    {{data.projects.title}}
            </button>
            <button id="servicesButton" 
                    class="glow-on-hover">
                    {{data.services.title}}
            </button>
            <button id="contactButton" 
                    class="glow-on-hover">
                    {{data.contact.title}}
            </button>
    
        </div>
    </div>

    <div class="stick"></div> 
    
    <modal>
       
        <!--****************************
        ABOUT
        ********************************-->
        <div id="about">

            <!-- About - Carousel -->

            <div id="aboutCarousel" class="carousel slide">
                <div class="carousel-inner">

                    <!-- Object to activate carousel -->
                    {% set carousel = { 'active':True } %}

                    {% for image in images.about %}
                  
                        <div class="carousel-item {{ 'active' if carousel.active else '' }}">
                            <img src="{{images.about[image]}}" class="d-block w-100 img-fluid" alt="...">
                        </div>

                     <!-- Update caraousel object -->
                    {% if carousel.update({'active': False}) %} {% endif %}
    
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#aboutCarousel" data-bs-slide="prev">
                    <span aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#aboutCarousel" data-bs-slide="next">
                    <span aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- About - Text -->
            <div class="text col-sm">
    
                <h2><strong>{{data.about.title}}</strong></h2>
                <p>{{data.about.description}} </p>
    
                <h2><strong>{{data.objective.title}}</strong></h2>
                <p>{{data.objective.description}}</p>
    
            </div>
        </div>

        <!--**************************** 
            PROJECTS 
        ********************************-->
        <div id="projects">
            <div class="title">
                <h2>{{data.projects.title}}</h2>
            </div>

            <div class="projectsComponent">

                <div id="projectsList">
                    <ul>
                        {% for project in data.projects.list %}
                            <button onclick="selectProject({{project}})"> 
                                <li>{{project.name}}</li>
                            </button>
                        {% endfor %}
                    </ul>
                </div>

                <div id="projectsPreview"></div>

                <div id="projectView">
                    <p>Seleccione un proyecto</p>
                </div>
            </div>
            <div></div>
            
        </div>

        <!--****************************
                SERVICES 
        ********************************-->
        <ul id="services" class="services list-group mb-3">

            <!-- Title -->

            <li class="list-group-item title"><h2><strong>{{data.services.title}}</strong></h2></li>


            {% for service in data.services.list%}

                <!-- Collapse Functionality -->

                <a  id="services-collapse"
                    data-toggle="collapse" 
                    href="#service-collapse-{{service.id}}">

                    <li class="list-group-item"><strong>{{service.name}}</strong></li>
                
                </a>

                <!-- Adding a variable to a html attribute -->
                <div id="service-collapse-{{service.id}}" class="collapse body">

                    <img 
                    class="img-fluid img-thumbnail"
                    src="{{ url_for(   'static',
                                        filename='/'.join([ 'img', 
                                                            'services', 
                                                            service.id + '-1.jpg'
                                                            ]))}} ">

                    <p>{{service.description}}</p>

                </div>

            {% endfor %}

        </ul>
        
        <!--**************************** 
            CONTACT 
        ********************************-->
        <div id="contact" class="contact">
        
            <!-- Section Title -->

            <h2><strong>{{data.contact.title}}</strong></h2>

            <div class="row">

                <!-- Name, Phone & Maps -->

                <div class="col-sm">

                    <!-- Text -->
                    <div class="text">
                        <p><strong>Arquitecto: </strong>{{data.contact.name}}</p>
                        <p><strong>Teléfono: </strong>{{data.contact.phone}}</p>
                    </div>

                    <!-- Embeded Maps / 1:1 aspect ratio  -->
                    <!-- <div class="embed-responsive embed-responsive-1by1">
                        <iframe class="embed-responsive-item" 
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63836.69300401769!2d-78.48293860910093!3d-0.20286038013794772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d590eb5647cd6d%3A0xb8e005887399b0b9!2sQuito%20170157!5e0!3m2!1sen!2sec!4v1663201820344!5m2!1sen!2sec">
                        </iframe>
                    </div> -->
                    

                </div>
            
                <!-- Form -->
                <form   class="col-sm"
                        method="POST">

                    <!-- Form title -->
                    <h3>{{data.contact.form.title}}</h3>

                <!--  Name -->
                    <div class="mb-3">
                        <label for="name" class="form-label">{{data.contact.form.name}}</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>

                    <!-- Email -->
                    <div class="mb-3">
                        <label for="e-mail" class="form-label">{{data.contact.form.email}}</label>
                        <input type="email" class="form-control" id="e-mail" name="email">
                    </div>
                    
                    <!-- Description -->

                    <div class="mb-3">
                        <label for="description" class="form-label">{{data.contact.form.description}}</label>
                        <textarea type="text" class="form-control" id="description" rows="10" name="description"></textarea>
                    </div>

                    <!-- Submit -->
                    
                    <button type="submit" class="btn btn-primary">{{data.contact.form.send}}</button>
                </form>
            </div>
        </div>

        <button id="closeModal" class="btn-close"></button>
    </modal>
</main>
<script> const projectImages = {{ images.projects|tojson }} </script>
<script src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
<script src="{{ url_for('static', filename='js//homeEvents.js')}}"></script>

{% endblock %}