@import "utilities";

#about{
  @include modal;
  display: none;

  .box{

    .content{
      display: flex;
      flex-flow: row;
      overflow-y: auto;

    
      .block1{
        background-color: red;
         flex: 1 1;
         display: flex;
         justify-content: end;

        

        .test{
          display: flex;
          img{
            height: auto; 
            width: auto;
            max-width: 100%; 
            max-height: 100%;
            align-self: center;
            border-radius: 10px;
          }
          
        }

        .carousel{
          display: flex;
          .carousel-inner{
            display: flex;
            border-radius: 10px;
            .carousel-item{
              display: flex;
              img{
                
                max-width: 100%;
                max-height: 100%;
              }
            }
          }
        }
      }
    
      .block2
      {
        flex: 1 1;

        background-color: blue;
      }
    }
  }
}


@media screen and (max-width: $phone-screen-size) and ( orientation: "portrait" ) {

  #about{

    .box{

      .content{
        display: block;

        .block1{

          .box{
            .carousel{
              width: 95%;
              margin: 8px auto;
              
            }

          }

          
        }
        .block2{

          .text{
            margin: 0 12px;
            margin-bottom: 8px;
          
            h2{
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media screen and ( max-width: $phone-screen-size ) and ( orientation : "landscape" ){  

  #about{
    .box{
      .content{
        .block1{
          .carousel{
            //margin: unset;
          }
        }

        .block2{

        }
      }
    }
  }
}

