@import "variables";

#contact{
    display: none;

    .block1{
      display: grid;
      align-items: center;

      .map{
        text-align: center;
        margin-left: 20px;
        margin-right:20px;
        .text{
          p{
            margin-bottom: 2px;
          }
        }
        
        .block{
          position: relative;
          overflow: hidden;
          width: 100%;
          padding-top: 75%;

          .responsive-iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
          } 
        }
      }
    }
  .block2{
    overflow: scroll;
    display: grid;
    align-items: center;
    .form{
      h3{
        font-size: 22px;
      }
      margin: 20px;
    }
  }
}