#contact{
    display: none;
}

// CONTACT
.contact{
  
    h2{
      padding: 20px 0;
      text-align: center;
      
    }
  
    form{
      margin: 20px 0px;
    }
  
    .text{
      text-align: center;
    }
  
    .embed-responsive{
      margin: auto;
      max-width: 400px;
    }  
}