// Utilities
@import "variables";

// HEADER

main{
  position: relative;
  display: flex !important;
  
  .block1{
    background-color: orange;
    position: relative;

    .greeting{
      @include center;
      text-align: center;

      .carousel{
        width: 80%;
        padding: 0;
        margin: auto;

        .carousel-inner{
          border-radius: 10px;
        }
      }

      .text{
        margin-top: 3vh;

        h1{
          font-size: 20px;
        }

        h2{
          font-size: 16px;
        }
      }
    }
  }

  .block2{
    background-color: orange;
    position: relative;
    button{
      position: absolute;
      display: block;
      color: black;
      width: 50%;
      height: 80px;
      font-size: 24px;
    }
  }

  .stick{
    @include center;
    background-color: $footer-background;
    border-radius: 20px;
    width: 8px;
  }

  modal{
    display: none;
    background-color: white;
    border-radius: 20px;
    overflow: scroll;
    @include center;

    #about{
      display: none;
      padding: 10px 0;
      .carousel{
        width: 400px;
        padding: 0;
        margin:auto;
      }
      .text {
        color: $modal-color;
        padding: 30px 20px 0px;
        p{
          text-align: justify;
        }
      }
    }

    #projects{
      display: none;
    }
    #services{
      display: none;
    }
    #contact{
      display: none;
    }
    #closeModal{
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

.header-phone {
  
  height: 9vh;
  overflow: hidden;
  position: relative;
  
  img {

    height: 95vh;
    position: absolute;
    left: -66%;;
    z-index: 0;

  }

  .text{

    h1{
      font-size: medium;
    }
    text-align: center;
    position: absolute;
    width: 230px;
    top:80%;
    left: 50%;
    transform: translate(-50%, 0);
    color: $text-color1;
    z-index: 1;
  }
}

.services-projects{
  background: $background2;
}

// SERVICES

.services{
  padding-top: 1rem;
  @include lists;
  .body{
    background: $background1;
    padding: 2rem;

    border-radius: 5px;
    p{
      text-align: justify;
      margin-top: 2rem;
      margin-bottom: 0;
    }
  }
}

// PROJECTS

.projects {
  @include lists;
  .modal-footer{
    display: block !important;
    p{
      margin: 0;
    }
  }
}

// CONTACT

.contact{

  background:$background3;
  color: $modal-color;

  h2{
    padding: 20px 0;
    text-align: center;
    
  }

  form{
    margin: 20px 0px;
  }

  .text{
    text-align: center;
  }

  .embed-responsive{
    margin: auto;
    max-width: 400px;
  }  
}

