// Needs Work

// Utilities
@import "variables";

// HEADER

main{
  background-color: $main-background;
  display: flex;
  position: relative;

  .block1{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;    
    .greeting{
      margin-right:10%;
      width: 70%;

      .carousel{
        width: 100%;  
        .carousel-inner{
          border-radius: 10px;
        }
      }
  
      .text{
        text-align: center;
        margin-top: 3vh;
  
        h1{
          font-size: 20px;
        }
  
        h2{
          font-size: 16px;
        }
      }
    }
  }

  .block2{
    display: grid;
    align-content: center;

    .mainButtons{
      margin-left: 10%;
      display: grid;
      align-content: space-evenly;

      button{
        width: 70%;
        padding: 20px;
        color: black;
        font-size: 22px;
      }
    }
  }

  .stick{
    z-index: 1;
    @include center;
    background-color: $footer-background;
    border-radius: 20px;
    width: 8px;
  }

  .modal{
    z-index: 0;
    display: none;
    background-color: white;
    overflow: scroll;
    position: absolute;

    .title {
      text-align: center;
      background: $modal-title-background;
      text-transform: uppercase;
      position: relative;

      h2{
        @include center;
        font-size: 18px;
        margin: 0;
      }
    }

    #closeModal{
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}

