// Needs Work

// Utilities
@import "variables";

// HEADER

main{
  position: relative;
  .home{
    position: absolute;
    display: flex;
    background-color: $main-background;

    .block1{
      display: grid;
      width: 50%;
    
      .greeting{
        width: 75%;
        margin: auto;
  
        .carousel{
          width: 100%;  
          .carousel-inner{
            border-radius: 10px;
          }
        }
    
        .text{
          text-align: center;
          margin-top: 3vh;
    
          h1{
            font-size: 20px;
          }
    
          h2{
            font-size: 16px;
          }
        }
      }
    }
  
    .block2{
      width: 50%;
      display: grid;

      .mainButtons{
        width: 70%;
        margin:auto;
        display: grid;
      
        button{
          margin: 6% 0;
          padding: 7% 0;
          color: black;
          font-size: 22px;
        }
      }
    }
    .stick{
      @include center;
      background-color: $footer-background;
      border-radius: 20px;
      width: 8px;
      height: 80%;
    }   
  }

  .modal{
    position: absolute;
    display: none;
    background-color: white;
    overflow: scroll;
    .title {
      text-align: center;
      background: $modal-title-background;
      text-transform: uppercase;
      position: relative;
  
      h2{
        @include center;
        font-size: 18px;
        margin: 0;
      }
    }
  
    #closeModal{
      position: absolute;
      top: 10px;
      left: 10px;
    }
  } 
}


