// Utilities
@import "utilities";
@import "glowOnHover";

nav {
  background: $nav-background;
  border-bottom: solid;
  border-bottom-color: $modal-title-background;

  img {
    width: 56px;
    opacity: 0.8;
  }

  img:hover {
    opacity: 1.0;
  }

  .logo{
    img{
      width: 100px;
    }
  }

  .language{
    text-align: center;
  }

  .social-media{
    display: block;
    text-align: end;
  } 
}


footer {
  width: 100%;
  background: $footer-background;
  color: $footer-color;
  font-size: 10px;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
}

@media screen and (max-width: $phone-screen-size) {
  nav{

    .social-media{
      display: none;
    }

    .language{
      text-align: end;
    } 
  }
}



