$phone-screen-size : 920px;
$background:#f4f4f4;
$nav-background: orange;
$home-background:orange;
$modal-color:#504f4f;
$modal-background:white;
$modal-title-background: #ffbc11;
$footer-color: white;
$footer-background:#2b2b2b;


@mixin shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

@mixin absolute-horizontal{
  position:absolute;
  left:50%;
  transform:translate(-50%);
}

@mixin modal {

  position: absolute;
  width: inherit;
  height: inherit;

  .box{
    display: flex;
    flex-flow: column ;
    width: inherit;
    height: inherit;    

    .title {
      flex-grow: 0;
      background: $modal-title-background;
      text-transform: uppercase;
  
      h2{
        font-size: 18px;
        text-align: center;
        margin: 0;
        padding: 12px;
      }
    }
  
    .content{
      flex-grow: 1;
    }

  }
  
  .close-modal{
    position: absolute;
    top: 10px;
    left: 12px;
  }
}