$background:#f4f4f4;
$nav-background: orange;
$main-background:orange;
$modal-color:#504f4f;
$modal-title-background: #ffbc11;
$footer-color: white;
$footer-background:#2b2b2b;

$font: 'Open Sans', sans-serif; 

@mixin shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin center{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}