

$text-background:#25252571;

$text-color1: white;
$text-color2:#504f4f;
$text-hover:#252525;

$background:blue;

$background1: white;

$background2:#f1f1f1;

$background3: #ffe442;

$background4:#ffdb00;

$footer-background:#2b2b2b;

$nav-background: lightgrey;

$font: 'Open Sans', sans-serif; 

@mixin shadow {

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  
}

@mixin lists{
  color: $text-color2;
  background: $background2;
  margin: auto;
  max-width: 500px;

  .title{
    background: $background3;
    text-align: center;
  }

}