@use 'home';
@use 'about';
@use 'projects';
@use 'services';
@use 'contact';
@use 'success';
@use 'nav_footer';

@import "utilities";

html{
  background-color: $background;
}

main {
  position: relative;
  @include shadow;
  font-family: 'Open Sans', sans-serif; 
}

.container{  // Bootstrap 
  padding: 0 !important;
}

.row{
  margin: 0 !important;
}