@use 'home';
@use 'nav_footer';
@use 'success';
@import "variables";

// root
html{
  background-color: $background;
  font-family: $font;
  body {
  @include shadow;
  }
}

// bootstrap classes
.container{
  padding: 0 !important;
}

.row{
  margin: 0 !important;
}