main {
  background-color: orange;
  display: flex;
  position: relative;
}
main .block1 {
  position: relative;
}
main .block1 .greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
main .block1 .greeting .carousel {
  width: 80%;
  padding: 0;
  margin: auto;
}
main .block1 .greeting .carousel .carousel-inner {
  border-radius: 10px;
}
main .block1 .greeting .text {
  margin-top: 3vh;
}
main .block1 .greeting .text h1 {
  font-size: 20px;
}
main .block1 .greeting .text h2 {
  font-size: 16px;
}
main .block2 {
  position: relative;
}
main .block2 .mainButtons button {
  color: black;
  font-size: 24px;
}
main .stick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2b2b2b;
  border-radius: 20px;
  width: 8px;
}
main .modal {
  display: none;
  background-color: white;
  overflow: scroll;
  position: absolute;
}
main .modal .title {
  text-align: center;
  background: #ffbc11;
  text-transform: uppercase;
  position: relative;
}
main .modal .title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  margin: 0;
}
main .modal #closeModal {
  position: absolute;
  top: 10px;
  left: 10px;
}

#about {
  display: none;
}
#about .carousel {
  width: 400px;
  padding: 0;
  margin: auto;
}
#about .carousel .carousel-inner {
  margin-top: 30px;
}
#about .text {
  padding: 30px 20px 0px;
}
#about .text p {
  text-align: justify;
}

#projects {
  display: none;
}
#projects .projectsComponent {
  position: relative;
}
#projects .projectsComponent #projectsList {
  position: absolute;
  background-color: rgb(253, 249, 242);
  overflow: scroll;
  border-right-style: solid;
}
#projects .projectsComponent #projectsList ul {
  list-style-type: none;
  padding: 0;
}
#projects .projectsComponent #projectsList ul button {
  text-align: left;
  display: block;
  width: 100%;
  padding: 12px 12px;
  background-color: transparent;
  border: none;
  border-bottom-style: solid;
  font-weight: bold;
  font-size: 14px;
}
#projects .projectsComponent #projectsPreview {
  position: absolute;
  background-color: rgb(99, 99, 99);
  display: flex;
  overflow: scroll;
  align-items: center;
}
#projects .projectsComponent #projectsPreview button {
  padding: 0;
  background-color: transparent;
  border-style: none;
}
#projects .projectsComponent #projectsPreview button .thumbnail {
  border-radius: 4px;
  border-style: solid;
  border-width: 4px;
  border-color: rgba(255, 166, 0, 0.514);
}
#projects .projectsComponent #projectsPreview button .active {
  border-style: solid;
  border-width: 4px;
  border-color: orange;
}
#projects .projectsComponent #projectView {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.984);
}
#projects .projectsComponent #projectView p {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#projects .projectsComponent #projectView img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#services {
  display: none;
}
#services .cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
#services .cards .grid .card {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
}
#services .cards .grid .card h3 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 8px;
}
#services .cards .grid .card p {
  text-align: justify;
  display: none;
  padding-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-top: solid;
  border-top-color: rgb(194, 194, 194);
}

#contact {
  display: none;
}

.contact h2 {
  padding: 20px 0;
  text-align: center;
}
.contact form {
  margin: 20px 0px;
}
.contact .text {
  text-align: center;
}
.contact .embed-responsive {
  margin: auto;
  max-width: 400px;
}

#success {
  background-color: #ffe442;
  height: 100vh;
  padding-top: 40px;
}

.glow-on-hover {
  min-height: 50px;
  border: none;
  outline: none;
  color: #ff9c00;
  background: orange;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffb32b;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
nav {
  background: orange;
}
nav img {
  width: 56px;
  opacity: 0.8;
}
nav img:hover {
  opacity: 1;
}
nav .logo img {
  width: 100px;
}
nav .language {
  text-align: center;
}
nav .social-media {
  text-align: end;
}

footer {
  background: #2b2b2b;
  color: white;
  font-size: 10px;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
}

html {
  background-color: #f4f4f4;
  font-family: "Open Sans", sans-serif;
}
html body {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.container {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

/*# sourceMappingURL=style.css.map */
