main {
  position: relative;
  display: flex !important;
}
main .block1 {
  background-color: orange;
  position: relative;
}
main .block1 .greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: green;
  text-align: center;
}
main .block1 .greeting .text {
  margin-top: 3vh;
}
main .block1 .greeting .text h1 {
  font-size: 20px;
}
main .block1 .greeting .text h2 {
  font-size: 16px;
}
main .block2 {
  background-color: aqua;
}
main .stick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 20px;
  width: 15px;
}
main modal {
  display: none;
  background-color: red;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main modal #about {
  display: none;
}
main modal #projects {
  display: none;
}
main modal #services {
  display: none;
}
main modal #contact {
  display: none;
}

.header-phone {
  height: 9vh;
  overflow: hidden;
  position: relative;
}
.header-phone img {
  height: 95vh;
  position: absolute;
  left: -66%;
  z-index: 0;
}
.header-phone .text {
  text-align: center;
  position: absolute;
  width: 230px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  z-index: 1;
}
.header-phone .text h1 {
  font-size: medium;
}

.about {
  align-items: center;
}
.about .carousel {
  max-width: 30vw;
  padding-left: 10px;
}
.about .carousel img {
  border-radius: 5px;
}
.about .text {
  color: #504f4f;
  padding: 50px 20px;
}
.about .text p {
  text-align: justify;
}

.services-projects {
  background: #f1f1f1;
}

.services {
  padding-top: 1rem;
  color: #504f4f;
  background: #f1f1f1;
  margin: auto;
  max-width: 500px;
}
.services .title {
  background: #ffe442;
  text-align: center;
}
.services .body {
  background: white;
  padding: 2rem;
  border-radius: 5px;
}
.services .body p {
  text-align: justify;
  margin-top: 2rem;
  margin-bottom: 0;
}

.projects {
  color: #504f4f;
  background: #f1f1f1;
  margin: auto;
  max-width: 500px;
}
.projects .title {
  background: #ffe442;
  text-align: center;
}
.projects .modal-footer {
  display: block !important;
}
.projects .modal-footer p {
  margin: 0;
}

.contact {
  background: #ffe442;
  color: #504f4f;
}
.contact h2 {
  padding: 20px 0;
  text-align: center;
}
.contact form {
  margin: 20px 0px;
}
.contact .text {
  text-align: center;
}
.contact .embed-responsive {
  margin: auto;
  max-width: 400px;
}

nav {
  background: lightgrey;
}
nav .logo {
  width: 100px;
}

footer {
  background: #2b2b2b;
  color: white;
}
footer .contact-footer {
  margin-bottom: 20px;
  font-size: 12px;
}
footer .contact-footer p {
  margin: 10px;
}
footer .social-media i {
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
footer .copyright p {
  font-size: 10px;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}
footer a:hover {
  color: white !important;
}

#success {
  background-color: #ffe442;
  height: 100vh;
  padding-top: 40px;
}

html {
  background-color: blue;
  font-family: "Open Sans", sans-serif;
}
html body {
  background-color: blue;
}

.row {
  margin: 0 !important;
}

a {
  color: #504f4f !important;
}

a:hover {
  text-decoration: none !important;
  color: #252525 !important;
}

/*# sourceMappingURL=style.css.map */
