/************************************
HOME 
*************************************/
#home {
  position: absolute;
  width: 100%;
  height: inherit;
  display: flex;
  background-color: orange;
}
#home .block1 {
  display: grid;
  width: 50%;
}
#home .block1 #greeting {
  position: relative;
  width: 75%;
  margin: auto;
}
#home .block1 #greeting .carousel {
  width: 100%;
}
#home .block1 #greeting .carousel .carousel-inner {
  border-radius: 10px;
}
#home .block1 #greeting .text {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  min-width: 300px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.7019607843);
  color: #e1dfdf;
  border-radius: 10px;
}
#home .block1 #greeting .text h1 {
  font-size: 20px;
  margin-bottom: 0;
}
#home .block1 #greeting .text h2 {
  font-size: 16px;
}
#home .block2 {
  width: 50%;
  display: grid;
}
#home .block2 .mainButtons {
  width: 70%;
  margin: auto;
  display: grid;
}
#home .block2 .mainButtons button {
  margin: 6% 0;
  padding: 7% 0;
  color: black;
  font-size: 22px;
}
#home .stick {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2b2b2b;
  border-radius: 20px;
  width: 8px;
  height: 80%;
}

@media screen and (max-width: 920px) {
  #home {
    display: grid;
    overflow: scroll;
  }
  #home .block1 {
    display: none;
  }
  #home .block2 {
    width: 100%;
  }
  #home .block2 .mainButtons {
    width: 90%;
  }
  #home .stick {
    display: none;
  }
}
#about {
  position: absolute;
  width: inherit;
  height: inherit;
  display: none;
}
#about .box {
  display: flex;
  flex-flow: column;
  width: inherit;
  height: inherit;
}
#about .box .title {
  flex-grow: 0;
  background: #ffbc11;
  text-transform: uppercase;
}
#about .box .title h2 {
  font-size: 18px;
  text-align: center;
  margin: 0;
  padding: 12px;
}
#about .box .content {
  flex-grow: 1;
}
#about .close-modal {
  position: absolute;
  top: 10px;
  left: 12px;
}
#about .box .content {
  display: flex;
  flex-flow: row;
  overflow-y: auto;
}
#about .box .content .block1 {
  background-color: red;
  flex: 1 1;
  display: flex;
  justify-content: end;
}
#about .box .content .block1 .test {
  display: flex;
}
#about .box .content .block1 .test img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  border-radius: 10px;
}
#about .box .content .block1 .carousel {
  display: flex;
}
#about .box .content .block1 .carousel .carousel-inner {
  display: flex;
  border-radius: 10px;
}
#about .box .content .block1 .carousel .carousel-inner .carousel-item {
  display: flex;
}
#about .box .content .block1 .carousel .carousel-inner .carousel-item img {
  max-width: 100%;
  max-height: 100%;
}
#about .box .content .block2 {
  flex: 1 1;
  background-color: blue;
}

@media screen and (max-width: 920px) and (orientation: portrait) {
  #about .box .content {
    display: block;
  }
  #about .box .content .block1 .box .carousel {
    width: 95%;
    margin: 8px auto;
  }
  #about .box .content .block2 .text {
    margin: 0 12px;
    margin-bottom: 8px;
  }
  #about .box .content .block2 .text h2 {
    text-align: center;
  }
}
#projects {
  display: none;
}
#projects .projectsComponent {
  position: relative;
}
#projects .projectsComponent #projectsList {
  position: absolute;
  background-color: rgb(253, 249, 242);
  overflow: scroll;
  border-right-style: solid;
}
#projects .projectsComponent #projectsList ul {
  list-style-type: none;
  padding: 0;
}
#projects .projectsComponent #projectsList ul button {
  text-align: left;
  display: block;
  width: 100%;
  padding: 12px 12px;
  background-color: transparent;
  border: none;
  border-bottom-style: solid;
  font-weight: bold;
  font-size: 14px;
}
#projects .projectsComponent #projectsPreview {
  position: absolute;
  background-color: rgb(99, 99, 99);
  display: flex;
  overflow: scroll;
  align-items: center;
}
#projects .projectsComponent #projectsPreview button {
  padding: 0;
  background-color: transparent;
  border-style: none;
}
#projects .projectsComponent #projectsPreview button .thumbnail {
  border-radius: 4px;
  border-style: solid;
  border-width: 4px;
  border-color: rgba(255, 166, 0, 0.514);
}
#projects .projectsComponent #projectsPreview button .active {
  border-style: solid;
  border-width: 4px;
  border-color: orange;
}
#projects .projectsComponent #projectView {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.984);
}
#projects .projectsComponent #projectView p {
  font-size: 24px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#projects .projectsComponent #projectView img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#services {
  display: none;
}
#services .cards {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
#services .cards .grid .card {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 30px;
}
#services .cards .grid .card h3 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 8px;
}
#services .cards .grid .card p {
  text-align: justify;
  display: none;
  padding-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border-top: solid;
  border-top-color: rgb(194, 194, 194);
}

#contact {
  display: none;
}
#contact .block1 {
  display: grid;
  align-items: center;
  justify-items: end;
}
#contact .block1 .map .text {
  text-align: center;
}
#contact .block1 .map .text p {
  margin-bottom: 2px;
}
#contact .block1 .map .block {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 75%;
}
#contact .block1 .map .block .responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#contact .block2 {
  overflow: scroll;
  display: grid;
  align-items: center;
}
#contact .block2 .form {
  height: inherit;
}
#contact .block2 .form h3 {
  font-size: 22px;
}

#success {
  background-color: orange;
  height: 100vh;
  padding-top: 40px;
}

.glow-on-hover {
  min-height: 50px;
  border: none;
  outline: none;
  color: #ff9c00;
  background: orange;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffb32b;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
nav {
  background: orange;
  border-bottom: solid;
  border-bottom-color: #ffbc11;
}
nav img {
  width: 56px;
  opacity: 0.8;
}
nav img:hover {
  opacity: 1;
}
nav .logo img {
  width: 100px;
}
nav .language {
  text-align: center;
}
nav .social-media {
  display: block;
  text-align: end;
}

footer {
  width: 100%;
  background: #2b2b2b;
  color: white;
  font-size: 10px;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
}

@media screen and (max-width: 920px) {
  nav .social-media {
    display: none;
  }
  nav .language {
    text-align: end;
  }
}
html {
  background-color: #f4f4f4;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  position: relative;
}

.container {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

/*# sourceMappingURL=style.css.map */
