@use 'main';
@use 'about';
@use 'projects';
@use 'services';
@use 'contact';
@use 'success';
@use 'nav_footer';

@import "variables";

// root
html{
  background-color: $background;
  font-family: $font;
  body {
  @include shadow;
  }
}

// bootstrap classes
.container{
  padding: 0 !important;
}

.row{
  margin: 0 !important;
}