// Utilities
@import "variables";

nav {
    background: $background1;
  
    .logo{width: 100px;}
}
  
footer {
  background: $footer-background;
  color: $text-color1;
  .contact-footer {

    margin-bottom: 20px;
    font-size: 12px;
    p {
      margin: 10px;
      
    }
  }
  .social-media {
    
    i {
      margin-top: 10px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
  .copyright p {
    font-size: 10px;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
  }
  a:hover {
    color: $text-color1 !important;
  }
}