<!doctype html>
<html lang="es">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name=“description” content= 'Haga de su hogar, un lugar para vivir'>
    <meta name=“keywords” content=“egmp,music,production, quito”>
    <meta name=“author” content=“EGMP”>
    <!-- TITLE -->
    <title>Esencial Construcciones - Quito - Arquitecto</title>
    <!--Favicon-->
    <link   rel="icon" 
            type=image/x-icon 
            href="{{ url_for('static', filename='favicon.ico') }}">
    <!--CSS-->
    <link   rel="stylesheet" 
            href="{{ url_for('static', filename='style.css') }}">
    <!-- Bootstrap CSS -->
    <link   rel="stylesheet" 
            href="{{ url_for('static', filename='bootstrap-4.0.0-dist/css/bootstrap.css') }}">
    
    <!-- Google Font -->
    <link   href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" 
            rel="stylesheet">
</head>

<body>

    <!-- NAVBAR -->
    
    <nav class="navbar navbar-light navbar-expand-lg">
        <!-- Logo Hyperlink -->
        <a  class="navbar-brand" 
            href="{{ url_for('home') }}">
            <img    class="logo" 
                    src="{{ url_for('static', filename='img/logo2.png') }}">
        </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" 
                type="button" 
                data-toggle="collapse" 
                data-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Nav Items -->
        <div class="collapse navbar-collapse" id="nav" >
            <ul class=" navbar-nav 
                        ml-auto"> <!--Right Alightment  -->
                
                <li>
                    <a  class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>

                <li>
                    <a class="nav-link" href="#about">Acerca</a>
                </li>
                
				<li>
                    <a class="nav-link" href="#services">Servicios</a>
                </li>

				<li>
                    <a class="nav-link" href="#projects">Proyectos</a>
                </li>

				<li>
                    <a class="nav-link" href="#contact">Contacto</a>
                </li>

            </ul>
        </div>
    </nav>

    <!-- Inheritance - PARENT -->

    {% block content %} {% endblock %}

    <!-- FOOTER -->

    <footer>
		<div class="row">
			<div class="contact-footer col-sm text-sm-left text-center">
				<p><strong>Arquitecto: </strong> {{data.contact.name}}</p>
				<p><i class="fab fa-whatsapp"></i> {{data.contact.phone}}</p>

			</div>
			<div class="social-media col-sm d-sm-block d-none">

				<a href="https://www.facebook.com/Esencial-Estudio-281058769179882/" target="-blanck"><i id="facebook-icon"
						class="fab fa-facebook-square fa-2x"></i></a>
				<a href="https://www.youtube.com/channel/UCrDmOTQr7J_qkJ4qD-LyoAg" target="_blank"><i id="youtube-icon"
						class="fab fa-youtube fa-2x"></i></a>
			</div>
		</div>
        
        <div class="copyright">
            <p>Esencial construcciones copyright@ 2019</p>
        </div>
    </footer>
    
</body>

<!-- Optional jQuery -->
<script src="{{ url_for('static', filename='jQuery.js') }}"></script>
<!-- Poppers.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous">
</script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous">
</script>
<!-- FontAwesome-->
<script src="https://kit.fontawesome.com/dc026d6440.js" crossorigin="anonymous"></script>