{% extends "base.html" %}
{% block content %}

<main>
    <header>
        <!--****************************
            HOME PAGE
        ********************************-->

        <!-- HEAD - Computer optimize -->
        <div    id="carouselHeader"
                class=" carousel 
                        slide 
                        carousel-fade 
                        d-none 
                        d-sm-block" 
                data-ride="carousel">
            
            <div class="carousel-inner">
                
                <!-- Object to activate carousel -->
                {% set carousel = { 'active':True } %}
                        
                {% for i in range (1,6)%}

                    <!-- Carousel item -->
                    <div class="carousel-item {{ 'active' if carousel.active else '' }}">            
                        
                        <!-- img -->
                        <img    class="d-block w-100"
                                src="{{ url_for(   'static',
                                                    filename='/'.join([ 'img', 
                                                                        'bg-' + i|string + '.jpg'
                                                                        ]))}} ">
                        <!-- Text -->
                        <div class="carousel-caption">
                            <h1>{{data.title}}</h1>
                            <p>{{data.slogan}}</p>
                        </div>

                    </div>

                    <!-- Update caraousel object -->
                    {% if carousel.update({'active': False}) %} {% endif %}

                {% endfor %}      
            </div>

            <!-- Controls - Bootstrap previus and next -->

            <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

        <!-- HEAD - Phone optimize -->
        <div class="header-phone d-sm-none">
            
            <div class="text">
                <h1>{{data.title}}</h1>
                <p>{{data.slogan}}</p>
            </div>
            <img src="{{ url_for('static', filename='img/bg-1.jpg')}}">
            
        </div>

    </header>

    <!--****************************
        ABOUT
    ********************************-->

    <div id="about" class="about row">

        <!-- About - Carousel -->
        <div    class=" carousel 
                        slide
                        col-sm
                        d-none
                        d-sm-block" 
                data-ride="carousel">
            <div class="carousel-inner">

                <!-- Object to activate carousel -->
                {% set carousel = { 'active':True } %}

                {% for i in range (0,4)%}

                    <!-- Carousel item -->
                    <div class="carousel-item {{ 'active' if carousel.active else '' }}"> 

                        <img    class="img-fluid"
                                src="{{ url_for(   'static',
                                                    filename='/'.join([ 'img', 
                                                                        'about-' + i|string + '.jpg'
                                                                        ]))}} "  
                            >
                    </div>

                    <!-- Update caraousel object -->
                    {% if carousel.update({'active': False}) %} {% endif %}

                {% endfor %}
            </div>
        </div>

        <!-- About - Text -->
        <div class="text col-sm">

            <h2><strong>ACERCA DE NOSOTROS</strong></h2>
            <p>{{data.about}} </p>

            <br>

            <h2><strong>OBJETIVO</strong></h2>
            <p>{{data.objective}}</p>

        </div>
    </div>

    <div class="services-projects">

        <!--****************************
                SERVICES 
        ********************************-->
        
        <ul id="services" class="services list-group mb-3">

            <!-- Title -->
            <a data-toggle="collapse" href="#services-collapse">

                <li class="list-group-item title"><h2><strong>SERVICIOS</strong></h2></li>

            </a>

            {% for service in data.services%}

                <!-- Collapse Functionality -->

                <a  id="services-collapse"
                    class="collapse"
                    data-toggle="collapse" 
                    href="#service-collapse-{{service.id}}">

                    <li class="list-group-item"><strong>{{service.name}}</strong></li>
                
                </a>

                <!-- Adding a variable to a html attribute -->
                <div id="service-collapse-{{service.id}}" class="collapse body">

                    <img 
                    class="img-fluid img-thumbnail"
                    src="{{ url_for(   'static',
                                        filename='/'.join([ 'img', 
                                                            'services', 
                                                            service.id + '-1.jpg'
                                                            ]))}} ">

                    <p>{{service.description}}</p>

                </div>

            {% endfor %}

        </ul>
        
        <!--**************************** 
            PROJECTS 
        ********************************-->

        <ul id="projects" class="projects list-group pb-3">

            <!-- Title -->
            <a data-toggle="collapse" href="#projects-collapse">

                <li class="list-group-item title"><h2><strong>PROYECTOS</strong></h2></li>

            </a>

            {% for project in data.projects%}

                <!-- Modal List -->

                <a  
                    id="projects-collapse"
                    class="collapse"
                    data-toggle="modal" 
                    href="#project-modal{{project.id}}">

                    <li class="list-group-item"><strong>{{project.name}}</strong></li>

                </a>

                <!--  Modal view -->
                <div class="modal fade" id="project-modal{{project.id}}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <!-- Modal content -->

                            <div class="modal-header">

                                <!-- Title -->
                                <h5 class="modal-title">{{project.name}}</h5>

                                <!-- Close button -->
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>

                            </div>

                            <div class="modal-body">

                                <!-- Carousel -->

                                <div id="projectsView-{{project.id}}" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">

                                        {% set carousel = {'active': True } %}

                                        {% for img in images[project.id] %}

                                        <div class="carousel-item {{ 'active' if carousel.active else '' }}">
        
                                            <img    class="d-block w-100"
                                                    src="{{ url_for(   'static',
                                                                        filename='/'.join([ 'img', 
                                                                                            'projects',
                                                                                            project.id,
                                                                                            img
                                                                                            ]))}} ">
                                        </div>

                                        {% if carousel.update({'active': False}) %} {% endif %}
                                        
                                                                                            
                                        {% endfor %}

                                    </div>

                                    <a class="carousel-control-prev" href="#projectsView-{{project.id}}" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#projectsView-{{project.id}}" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                    </div>


                            </div>

                            <div class="modal-footer">
                                
                                <p><strong>Descripción:</strong> {{project.description}}</p>
                                
                                <p><strong>Cliente:</strong> {{project.client}}</p>
                                
                                <p><strong>Lugar:</strong> {{project.location}} </p>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>

    <!--**************************** 
        CONTACT 
    ********************************-->

    <div id="contact" class="contact">
        
        <!-- Section Title -->

        <h2><strong>CONTACTO</strong></h2>

        <div class="row">

            <!-- Name, Phone & Maps -->

            <div class="col-sm">

                <!-- Text -->
                <div class="text">
                    <p><strong>Arquitecto: </strong>{{data.contact.name}}</p>
                    <p><strong>Teléfono: </strong>{{data.contact.phone}}</p>
                </div>

                <!-- Embeded Maps / 1:1 aspect ratio  -->
                <div class="embed-responsive embed-responsive-1by1">
                    <iframe class="embed-responsive-item" 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63836.69300401769!2d-78.48293860910093!3d-0.20286038013794772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d590eb5647cd6d%3A0xb8e005887399b0b9!2sQuito%20170157!5e0!3m2!1sen!2sec!4v1663201820344!5m2!1sen!2sec">
                    </iframe>
                </div>
                

            </div>
           
            <!-- Form -->
            <form   class="col-sm"
                    method="POST">

                 <!-- Form title -->
                <h3>¿Necesita una proforma?</h3>

               <!--  Name -->
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name">
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label for="e-mail" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="e-mail">
                </div>
                
                <!-- Description -->

                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <textarea type="text" class="form-control" id="description" rows="10"></textarea>
                </div>

                <!-- Submit -->
                
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
        </div>
    </div>
</main>

{% endblock %}