{% extends "base.html" %}
{%block content%}


<main>
    <!-- Modal -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#project-modal">
        Launch demo modal
    </button>
  
   <!--  Modal view -->
    <div class="modal fade" id="project-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <!-- Title -->
                    <h5 class="modal-title">Modal title</h5>

                    <!-- Close button -->
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    ...
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>

            </div>
        </div>
    </div>



    <div id="documentation-guide2">
        
        <!-- Title -->

        <div id="documentation-guide2-title">
            <h2 class="text-center">Proyectos</h2>
        </div>

        <!-- Left Nav -->

        <div id="documentation-guide1-list">
            <ul class="list-group">


                {% for project in data.projects%}

                
                <a href="#p{{loop.index}}">
                    <li class="list-group-item">{{project.name}}</li>
                </a>
               

                {% endfor%}

            </ul>
        </div>
    </div>

    <!--Services documentation-->
    <div id="documentation-header">

        {% for project in data.projects %}

        <div class="documentation-text-wrapper">
            <ul>
                <li id="p{{loop.index}}"><strong>Proyecto E{{loop.index}}</strong></li>
                <br>
                <p><strong>Descripción:</strong> {{project.description}}</p>
                <p><strong>Cliente:</strong> {{project.client}}</p>
                <p><strong>Lugar:</strong> {{project.location}} </p>
            </ul>
            <p></p>

        </div>

        <div class="documentation-img-wrapper row">

            {% for img in images[project.id] %}

            <img src="{{ url_for(   'static',
                                    filename='/'.join([ 'img', 
                                                        'projects',
                                                        project.id,
                                                        img
                                                        ]))}} ">
           
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</main>

{%endblock%}